<div class="container anchor">
  <div class="row">
    <h1>Product overview</h1>
      <div class="thumbnail">
        <p>
          <% cache @product do %>
            <%= image_tag(@product.image_url, class: "img-responsive") %>
          <% end %>
        </p>

        <div class="col-xs-12 col-md-3">
          <p>
            <h4 class="h4-title"><strong><%= @product.name %></strong></h4>
          </p>
        </div>

        <div class="col-xs-12 col-md-3">
          <p class="p-margin"><strong>Average Rating:</strong></p> 
            <div class="rated" data-score="<%= @product.average_rating %>"></div> 
         </div>

        <div class="col-xs-12 col-md-3">
          <p>
            <strong>Color:</strong>
            <%= @product.color %>
          </p>
        </div>

        <div class="col-xs-12 col-md-3">
          <p>
            <strong>Price:</strong>
            <button type="button" class="btn btn-success btn-xs"><%= @product.price %><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></button>
          </p>
        </div>

        <div class="col-xs-12 col-md-12 div-color">
          <p>
            <strong class="underline">Description:</strong>
            <%= @product.description %>
          </p>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>
            <strong class="underline">Top comment:</strong><br />
            <%= @product.highest_rating_comment %>
          </p>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>
            <strong class="underline">Most critical comment:</strong><br />
            <%= @product.lowest_rating_comment %>
          </p>
        </div>

        <div class="col-xs-12 col-md-12 div-color">
          <p>
            <strong class="underline">Comments:</strong>
            <%= render partial: "comments" %>
          </p>
        </div>

        <div class="col-xs-12 col-md-12">
          <%= render partial: "new_comment" %>
        </div>
        
            <%= link_to 'Edit', edit_product_path(@product) %> |
            <%= link_to 'Back', products_path %>
          
      </div>
  </div>
</div>